@import "../assets/font/stylesheet.css";


:root {
  --color-primary: #FFFFFF;
}

*{
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  outline: none;
  border: none;
}

html{
  margin: 0 auto;
}

body {
  font-family: 'Outfit', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    margin: 0 auto;
    background: #242535;
    padding-top: 90px;
}

.container{
  max-width: 992px; 
  padding: 0 16px;
  margin: 0 auto;
}
